body,
.bg {
  background-color: #fefdf8;
}
#total {
  background-color: #555555;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}
#on-track {
  background-color: #5a8660;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}
#delay {
  background-color: #aa5858;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

#approval-pending {
  background-color: #555555;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

*.btn-primary {
  background-color: #ff7705;
  border-color: #eb6b00;
}

*.btn-primary:hover {
  background-color: #f6c27e;
  border-color: #eb6b00;
}

button.btn-primary:focus {
  background-color: #f6c27e !important;
  border-color: #eb6b00;
}
a.btn-primary {
  padding-top: 5px;
  padding-bottom: 5px;
}
