{% extends 'accounts/main.html' %}

{% block title %} - approvals{% endblock title %}

{% block content %}
    <br>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Approvals</h5>
                </div>
                <div class="card card-body">
                <table class="table table-sm">
                        <tr>
                         <th style="width: 25%;">AFW ID</th>
                         <th style="width: 25%;">Service Order</th>
                         <th style="width: 25%;">Approval Given</th>
                         <th style="width: 25%;">AFW Request Date</th>
                        </tr>
            
                    {% for announcement in approvals %}
                        <tr>
                        <td>{{announcement.AFW_id}}</td>
                        <td>{{announcement.service_ord}}</td>
                        <td>{{announcement.AFW_status}}</td>
                        <td>{{announcement.approval_creation_date}}</td>
                        </tr>
                    {% endfor %}

                    </table>
                </div>
            </div>

        </div>

{% endblock %}
