{% extends 'accounts/main.html' %}
{% load static %}

{% block title %} - Create Report{% endblock title %}

{% block cssblock %}
<style>
    input{
        margin-right: 10px!important;
    }
    label {
        margin-right: 10px;
    }
</style>
{% endblock cssblock %}

{% block content %}
<div class="card card-body" style="margin: 0 5%;">
    <div>
        <div style="padding-left: 10px; color: #0069D9">
            <h1>{{ pageTitle }}</h1>
        </div>
    </div>
    <br>
    <div style="padding-left: 10px;">
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" name="submit" class="btn btn-lg btn-success">

        </form>
    </div>
</div>

{% endblock %}
