{% extends 'accounts/main.html' %}

{% block content %}
{% include 'accounts/stats.html' %}


<br>

<div class="row">
    <div class="col-md-5">
        <h5>Manage Jobs:</h5>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'createJob_form' %}">Create Job</a>
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'createDiscrepancy_form' %}">Create Job Discrepancy Report</a>
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'createApprovalForWork_form' %}">Create Approval For Work</a>
            <table class="table table-sm" style="margin-top: 30px;">
                <tr>
                    <th>System</th>
                    <th>SAP Job No.</th>
                    <th>Priority</th>
                    <th>Status</th>
                </tr>

                {% for store in stores %}
                <tr>
                    <td>{{store.name}}</td>
                    <td>{{store.jobPriority}}</td>
                    <td>{{store.score}}</td>
                    <td>{{store.audit_date}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>Jobs Pending Approval:</h5>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'rectify_form' %}">Submit Approval For Work</a>
            <div style="margin:0; padding:0; overflow-x: scroll;">
            <table class="table table-sm" style="margin-top: 20px;">
                <tr>
                    <th>System</th>
                    <th>SAP Job No.</th>
                    <th>Priority</th>
                    <th>Approving Authority</th>
                    <th>Expected Completion</th>
                    <th>Status</th>
                </tr>

                {% for order in orders %}
                <tr>
                    <td>{{order.report}}</td>
                    <td>{{order.store}}</td>
                    <td>{{order.issue}}</td>
                    <td>{{order.covid_compliance}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>

    </div>

</div>
</div>
{% endblock %}
