{% extends 'accounts/main.html' %}

{% block content %}
{% include 'accounts/stats.html' %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <a class="btn btn-outline-danger  btn-lg btn-block" href="{% url 'createJob_form' %}">Input New Job</a>
            <a class="btn btn-outline-danger  btn-lg btn-block" href="{% url 'createJobUpdateStart_form' %}">Update Job Status (Delay Start)</a>
            <a class="btn btn-outline-danger  btn-lg btn-block" href="{% url 'createJobUpdateEnd_form' %}">Update Job Status (Delay End)</a>
            <a class="btn btn-outline-danger  btn-lg btn-block" href="{% url 'createJobUpdateComplete_form' %}">Update Job Status (Job Complete)</a>
        </div>
        <br>
    </div>
    <div class="col-md-6">
        <div class="card card-body">
        </div>
    </div>

</div>
</div>
{% endblock %}
