
{% extends 'accounts/main.html' %}
{% load static %}



{% block content %}


<br>
<div id="homepage" class="row-3" style="height:50vh; width:100vw">
    <div class = "row">
        <div class = "col-1"></div>
        <div class = "col-5">
            <div class="d-flex justify-content-left" style="height:50px;"></div>
            <div id="homepage_title" class="d-flex justify-content-left"> JOB NOTIFICATIONS</div>
            <div class="d-flex justify-content-left" style="height:10px;"></div>
            <div class="d-flex justify-content-left homepage_text">There are {{total_maintable_jobs}} total jobs</div>
            <div class="d-flex justify-content-left homepage_text"> There are {{total_pending_jobs}} jobs pending approval</div>
            <div class="d-flex justify-content-left" style="height:10px;"></div>
    <a class="d-flex justify-content-center create_job_btn btn-lg" href="{% url 'createJob_form' %}">Register New Job</a>
    <a class="d-flex justify-content-center create_job_btn btn-lg" href="{% url 'approvals' %}">Approve Jobs</a>

        </div>
        <div class = "col-6"></div>

    </div>
    
</div>

<div class="row-9">

<!-- <div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <a class="btn btn-outline-danger  btn-lg btn-block" href="{% url 'createJob_form' %}">Input New Job</a>
            <a class="btn btn-outline-danger  btn-lg btn-block" href="{% url 'createJobUpdateStart_form' %}">Update Job Status (Delay Start)</a>
            <a class="btn btn-outline-danger  btn-lg btn-block" href="{% url 'createJobUpdateEnd_form' %}">Update Job Status (Delay End)</a>
            <a class="btn btn-outline-danger  btn-lg btn-block" href="{% url 'createJobUpdateComplete_form' %}">Update Job Status (Job Complete)</a>
        </div>
        <br>
    </div>
    <div class="col-md-6">
        <div class="card card-body">
        </div>
    </div>

</div> -->
</div>
</div>
{% include 'accounts/stats.html' %}
</div>
{% endblock %}
