{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light bg">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'images/Singapore Tech Engineering Ltd.png' %}" width="80" style="margin-right: 10px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% url 'approvals' as url %}
      <li class="nav-item {% if request.path == url %}active{% endif %}">
        <a class="nav-link" href="{% url 'approvals' %}">Approvals</a>
      </li>
      {% url 'jobs' as url %}
      <li class="nav-item {% if request.path == url %}active{% endif %}">
        <a class="nav-link" href="{% url 'jobs' %}">Jobs</a>
      </li>
      {% url 'dash' as url %}
      <li class="nav-item {% if request.path == url %}active{% endif %}">
        <a class="nav-link" href="https://prod-apnortheast-a.online.tableau.com/#/site/nudge/views/DashBoardWebPage/Dashboard1?:display_count=n&:iid=3&:origin=viz_share_link&:showAppBanner=false&:showVizHome=n">DashBoard</a>
      </li>
      {% url 'report_generation' as url %}
      <li class="nav-item {% if request.path == url %}active{% endif %}">
        <a class="nav-link" href="{% url 'report_generation' %}">Completed Jobs</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          For Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'report_generation' %}">Generate Report</a>
        </div>
      </li>
    </ul>

    <div class="dropdown" style="margin-left: 10px; padding-right: 15px;">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href=""><b>{{ user.get_username }}</b></a>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        <!-- <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a> -->
      </div>
    </div>
  </div>
</nav>