{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light bg">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'images/STEng.png' %}" width="200" style="margin-right: 10px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% url 'approvals' as url %}
      <li class="nav-item {% if request.path == url %}active{% endif %}">
        <a class="nav-link" href="{% url 'approvals' %}">Approvals</a>
      </li>
      {% url 'jobs' as url %}
      <li class="nav-item {% if request.path == url %}active{% endif %}">
        <a class="nav-link" href="{% url 'jobs' %}">Jobs</a>
      </li>
      {% url 'dash' as url %}
      <li class="nav-item {% if request.path == url %}active{% endif %}">
        <a class="nav-link" href="https://prod-apnortheast-a.online.tableau.com/t/nudge/views/JobTrackingDashboard/JobStatusTracking?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link" target="_blank">Dashboard</a>
      </li>
      {% url 'report_generation' as url %}
      <li class="nav-item {% if request.path == url %}active{% endif %}">
        <a class="nav-link" href="{% url 'report_generation' %}">Completed Jobs</a>
      </li>
    </ul>

    <div class="dropdown" style="margin-left: 10px; padding-right: 15px;">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href=""><b>{{ user.get_username }}</b></a>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
  </div>
</nav>