{% extends 'accounts/main.html' %}
{% block title %} - jobs{% endblock title %}
{% block content %}
{% include 'accounts/stats.html' %}

    <br>
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5>All Jobs</h5>
                </div>
                <div class="card card-body">
                <table class="table table-sm">
                        <tr>
                            <th>Service Order Number</th>
                            <th>End User</th>
                            <th>Job Start Date</th>
                            <th>Required End Date</th>
                            <th>Priority</th>
                            <th>CTAT</th>
                        </tr>
            
                    {% for report in ip_jobs %}
                        <tr>
                            <td>{{report.service_ord}}</td>
                            <td>{{report.enduser}}</td>
                            <td>{{report.required_start_date}}</td>
                            <td>{{report.required_end_date}}</td>
                            <td>{{report.priority}}</td>
                            <td>{{report.ctat}}</td>
                        </tr>
                    {% endfor %}

                    </table>
                </div>
            </div>

        </div>

{% endblock %}
