{% extends 'accounts/main.html' %}
{% load static %}

{% block title %} - Email{% endblock title %}

{% block cssblock %}
<style>
form li{
    list-style-type: none;
    color: #EA7C14;
    font-size: 0.8rem;
    margin-left: 40px;;
}
p{
    margin-bottom: 0!important;
    padding-bottom: 5px;
}
form ul{
    margin-bottom: 1px;
}
#id_email {
    margin-bottom: 10px;
    margin-left: 36px;
}
#id_subject {
    margin-bottom: 20px;
    margin-left: 24px;
}
#id_attach {
    margin-left: 29px;
    margin-bottom: 20px;
}
#id_message {
    margin-left: 15px;
    height: 100px;
    max-width: 90%;
}
p+input{
    margin-top: 40px;
}
</style>
{% endblock cssblock %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <div class="card card-body", style="margin: 0px 0px">
            <h5>Download Report</h5>
            <form method="get">
                <p>{{completed_job_filter.form}}</p>
                <p>{{date_filter.form}}</p>
                <button class="btn btn-sm btn-danger" type="submit">Filter</button>
            </form>
        </div>
    </div>
    <div class="col-md-10">
        <div class="card card-body">
            <table class="table table-sm" style="margin-top: 30px;">
                <h5>Completed Jobs:</h5>
                <tr>
                    <th>Service Order</th>
                    <th>CTAT</th>
                    <th>ATAT</th>
                    <th>TET</th>
                    <th>Malfunction Start</th>
                    <th>Malfunction End</th>
                    <th>Remarks</th>
                </tr>
                {% for completedJob in completed_job_filter.qs%}
                <tr>
                    <td>{{completedJob.service_order}}</td>
                    <td>{{completedJob.ctat}}</td>
                    <td>{{completedJob.atat}}</td>
                    <td>{{completedJob.tet}}</td>
                    <td>{{completedJob.mal_start}}</td>
                    <td>{{completedJob.mal_end}}</td>
                    <td>{{completedJob.remarks}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
