<br>
<h5 style="padding-left: 15px;">Statistics:</h5>
<div class="row">
 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="score">
      <div class="card-header">
       <h5 class="card-title">Jobs In Progress</h5>
      </div>
      <div class="card-body">
           <h5 class="card-title">{{total_jobs}}</h5>
        <h3 class="card-title"></h3>
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="AuditDay">
      <div class="card-header">
       <h5 class="card-title">Jobs Delayed</h5>
      </div>
      <div class="card-body">
         <h5 class="card-title">1</h5>
        <h3 class="card-title"></h3>
      </tr>
      {% for job in jobs %}
          <tr>
              <td>{{job.name}}</td>
              <td>{{job.audit_date}}</td>
          </tr>
      {% endfor %}
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="rectify">
      <div class="card-header">
       <h5 class="card-title">Total Approvals Pending</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{pending}}</h3>
      </div>
   </div>
  </div>
 </div>
</div>