<br>
<div class="row">
 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="score">
      <div class="card-header">
       <h5 class="card-title">Total Jobs</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{total_maintable_jobs}}</h3>
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="AuditDay">
      <div class="card-header">
       <h5 class="card-title">On-Track Jobs</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{total_ongoing_jobs}}</h3>
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="AuditDay">
      <div class="card-header">
       <h5 class="card-title">Delayed Jobs</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{total_delayed_jobs}}</h3>
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="rectify">
      <div class="card-header">
       <h5 class="card-title">Approvals Pending</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{total_pending_jobs}}</h3>
      </div>
   </div>
  </div>
 </div>
</div>