{% extends 'accounts/main.html' %}

{% block title %} - jobs{% endblock title %}

{% block content %}
    <br>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Directory</h5>
                </div>
                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>job_status</th>
                            <th>Category</th>
                            <th>Job Description</th>
                        </tr>

                        {% for job in jobs %}
							<tr>
								<td>{{job.service_order_number}</td>
								<td>{{job.employment_id}</td>
								<td>{{job.approval_status}}</td>
                                <td>{{job.priority}}</td>
							</tr>
						{% endfor %}

                    </table>
                </div>
            </div>

        </div>

{% endblock %}
